body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(247, 244, 232);
    /* justify-content: space-between; */
    font-family: 'Noto Sans SC', 'Roboto', sans-serif, Arial, Helvetica;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 249, 192);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
}

.maintitle {
    margin: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 200%;
    flex-grow: 1;
}

.backdiv {
    display: flex;
    margin: 0px -5px 0px 20px;
}

h3.word {
    display: flex;
    margin: 27px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 150%;
}

p.content {
    margin: 27px;
    margin-top: 20px;
    font-size: 108%;
}