body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(247, 244, 232);
    /* justify-content: space-between; */
    font-family: 'Noto Sans SC', 'Roboto', sans-serif, Arial, Helvetica;
}

.header {
    display: flex;
    background-color: rgb(255, 249, 192);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.maintitle {
    margin: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 200%;
    flex-grow: 1;
}

.search {
    display: flex;
    height: 95px;
    flex-direction: row;
    flex-grow: 1;
    /* justify-content: space-around; */
    margin: 55px 0px 30px 0px;
}

input {
    display: flex;
    flex-basis: min-content;
    flex-grow: 9;
    flex-shrink: 1;
    margin: 0px 10px 0px 20px;
    border-radius: 20px;
    border: 2px solid #324B4E;
    background: #fff8e8;
    transition: .3s linear;
    padding: 15px;
    font-size: 85%;
}

input:hover {
    background: #fff0cc;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08), 0 17px 25px 0 rgba(0, 0, 0, 0.05);
}

button {
    display: flex;
    flex-grow: 0;
    height: 42px;
    flex-shrink: 0;
    margin: 0px 20px 0px 10px;
    border-radius: 13px;
    border: 2px solid #4b4933;
    background: #f9f0da;
    transition: .3s linear;
    /* padding: 15px; */
    text-align: center;
    font-size: 85%;
    color:#4b4933
}

button.jumpin {
    background-color: #4b4933;
    color: #fff8e8;
}

span {
    margin: auto;
    font-weight: 500;
}

button:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13), 0 17px 25px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-0.6px);
}

.buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.title2 {
    display: flex;
    margin: 23px;
    font-size: 120%;
}

.third {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

.recom {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(72, 72, 72);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 340px;
    background-color: rgb(255, 252, 228);
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.recom:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

h2.title {
    margin: 5px;
}

.content {
    margin: 5px
}